@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');
@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow');

*{
	box-sizing: border-box;
}


html{
	font-family: 'Noto Sans JP', sans-serif;
	
}

#body{
	line-height: 1.8;
	font-size: 72%;
	background: url(../img/bg-body.png)
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	width: 100%;
	padding: 15px;
}

#profile, #work, #contact{
	margin-top: 55px;
	display: none;
	height: calc(100vh - 55px);
	overflow-y: auto;
}

#profile.show, #work.show, #contact.show{
	display: block;
}

.text-center{
	text-align: center;
}

.container{
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

p{
	padding-top: 10px;
}

a, a:link, a:visited{
	color: #333;
	transition: 0.3s;
}

a:hover{
	opacity: 0.8;
}

img{
	max-width: 100%;
}

h2{
	margin-top: 5px;
    display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.2rem;
}

h2::before,h2::after{
    border-top: 1px dashed #333;
    content: "";
	flex-grow: 1;
}
h2::after{
	margin-left: 0.5rem;
}
h2::before{
	margin-right: 0.5rem;
}

.btn{
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	width: 100px;

}

.btn.btn-gray{
	border:3px rgb(97, 97, 97) double;
	color: rgb(97, 97, 97);
}

.btn.btn-gray:hover{
	background: #333;
	color: #fff;
	border: 3px #fff double;
}




.m_hidden{
	display: none;
}


/* --------------------------------------------------------
 header
-------------------------------------------------------- */

header{
	background: url(../img/bg.png);
	height: 55px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}

header .container{
	width: 100%;
	display: flex;
}

h1{
	margin-left: 15px;
	font-size: 30px;
	line-height: 55px;
	font-family: 'Ribeye Marrow', cursive;
}

.deg{
	display: inline-block;
	transform: rotate(-15deg);
}


#top{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

/*-------------------------------------------------------------
		nav
-------------------------------------------------------------*/

#toggle{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}

#toggle span{
	display: block;
	width: 34px;
	height: 2px;
	background-color: #555;
	position: absolute;
	cursor: pointer;
	left: 10px;
	transition: all 0.3s;
}

#toggle span:nth-child(1){
	top: 14px;
}

#toggle span:nth-child(2){
	top: 25px;
	opacity: 1;
}

#toggle span:nth-child(3){
	bottom: 14px;
}

#toggle.toggle-active span:nth-child(1){
	transform: rotate(405deg);
	top: 29px;
}

#toggle.toggle-active span:nth-child(2){
	width: 50%;
	opacity:0;
}

#toggle.toggle-active span:nth-child(3){
	transform: rotate(-405deg);
	bottom: 24px;
}


#toggle-menu{
	display: none;
}

#toggle-box{
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	text-align: center;
	align-items:center;
    display: flex;
    justify-content: center;
}

#toggle-menu ul{
	width: 100%;
}

#toggle-menu ul li{
	padding: 20px 0;
	width: 80%;
	font-size: 2rem;
	margin: 0 auto;
	cursor: pointer;
}

#toggle-menu li + li{
	border-top: 1px solid #000;
}



/* --------------------------------------------------
profile
---------------------------------------------------- */

.header-icon-box{
	position: relative;
}

.icon{
	position: abusolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
}

.qiita{
	width: 30px;
	display: inline-block;
	border-radius: 2px;
	padding-top: 3px;
}


#profile dt{
    display: flex;
	align-items: center;
	text-align: center;
}


#profile dt::after{
    border-top: 1px solid #333;
    content: "";
	flex-grow: 1;
	margin-left: 0.5rem;
}


#profile dd{
	margin-left: 1rem;
}

.skillcontent{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.skillcontent .fas, .skillcontent .fab{
	width: 45px;
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-right: 5px;
}

/*-------------------------------------------------------------
		#work
-------------------------------------------------------------*/

#work .col-7{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

#work img{
	border: #555 solid 1px;
	width: 100%;
}

/*-------------------------------------------------------------
		#contact
-------------------------------------------------------------*/

#form_submit{
	padding-bottom: 0 !important;
}

#submit-success{
    width: 90%;
	margin: 0 auto;
	color: red;
	display: none;
}

#submit-success.active{
	display: block;
}

.success-text{
	margin-left: 0;
}


/*-------------------------------------------------------------
		★タブレットサイズ
-------------------------------------------------------------*/
@media screen and (min-width: 768px) {



/*-------------------------------------------------------------
		all
-------------------------------------------------------------*/
.col-5{
	width:41.666666%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.3333333%;
}

.col-8{
	width: 66.66666666%;	
}

.m_hidden{
	display: block !important;
}

#profile, #work, #contact{
	margin-top: 120px;
	height: calc(100vh - 120px);
	overflow-y: auto;
}

/*-------------------------------------------------------------
		header
-------------------------------------------------------------*/
header{
	height: 120px;
}
#top{
	width: calc(100% -  180px);
}

#toggle{
	display: none;
}

#toggle-menu{
	display: block !important;
}

#toggle-box{
	width: 100%;
	height: 25px;
	position: relative;
	background-color: transparent;
}

#toggle-menu ul li{
	font-size: 1rem;
	padding: 10px;
	border-top: none;
}



 nav ul{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

nav li{
	display: inline-block;
	max-width: 150px;
	flex: 1;
	text-align: center;
	font-size: 1.1rem;
	display: block;
	width: 98%;
	color: #F4996C;
	font-weight: bold;
	transition: color 0.5s;
}

nav li.active{
	color: #A33C43
}
nav li:hover{
	color: #A33C43
} 

.korogaru{
	animation: korogaru 2.5s linear 0s 1;
	-webkit-animation: korogaru 2.5s linear 0s 1;
}

/*-------------------------------------------------------------
		profile
-------------------------------------------------------------*/


.skillcontent{
	display: flex;
	flex-direction: row;
	flex: 1;
}

/*-------------------------------------------------------------
		contact
-------------------------------------------------------------*/
.success-text{
	margin-left: 35%;
}



}
/*-------------------------------------------------------------
		★pcサイズ
-------------------------------------------------------------*/
@media screen and (min-width:960px){

}

/*-------------------------------------------------------------
		★アニメーション
-------------------------------------------------------------*/
@keyframes korogaru{
	0%   { transform: translate(0%, 0%); }
	5%   { transform: translate(10%, 0%) rotate(10deg); }
	25%  { transform: translate(20%, 0%) rotate(20deg); }
	30%  { transform: translate(-10%, 0%) rotate(-10deg); }
	35%  { transform: translate(-15%, 0%) rotate(-15deg); }
	45%  { transform: translate(10%, 0%) rotate(10deg); }
	50%  { transform: translate(15%, 0%) rotate(15deg); }
	60%  { transform: translate(-5%, 0%) rotate(-5deg); }
	65%  { transform: translate(-7%, 0%) rotate(-7deg); }
	75%  { transform: translate(0%, 0%) rotate(0deg); }
	100% { transform: translate(0%, 0%) rotate(0deg); }
  
}
@-webkit-keyframes korogaru{
	0%   { transform: translate(0%, 0%); }
	5%   { transform: translate(10%, 0%) rotate(10deg); }
	25%  { transform: translate(20%, 0%) rotate(20deg); }
	30%  { transform: translate(-10%, 0%) rotate(-10deg); }
	35%  { transform: translate(-15%, 0%) rotate(-15deg); }
	45%  { transform: translate(10%, 0%) rotate(10deg); }
	50%  { transform: translate(15%, 0%) rotate(15deg); }
	60%  { transform: translate(-5%, 0%) rotate(-5deg); }
	65%  { transform: translate(-7%, 0%) rotate(-7deg); }
	75%  { transform: translate(0%, 0%) rotate(0deg); }
	100% { transform: translate(0%, 0%) rotate(0deg); }
  
}