@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');

html{
	font-family: 'Noto Sans JP', "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, Meiryo, sans-serif;
	color: #555;
	
}

#main{
	overflow-x: hidden;
}

.marumoji{
	font-family: "Nico Moji";
}

.card{
	border-radius: 20px;
	height: 100%;

}

.dot, .dot-white{
	width: 200px;
	height: 5px;
	margin: 0 auto 25px;
}

.dot{
	border-bottom: 5px dotted #DDCBA8;
}
.dot-white{
	border-bottom: 5px dotted #fff;

}

h3{
	color: #C6A367;
}

.container-mini{
	max-width: 700px;
}

/*-------------------------------------------------------------
		top
-------------------------------------------------------------*/

#top{
	background: url(../img/bg_pink.jpg);
}

#top .container{
	position: relative;
	height: 100vh;
}

#top .top-text{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	background-color:rgba(254, 251, 249, 0.7);
	border-radius: 20px;
}

#top .top-img{
	position: absolute;
	height: 100vh;
	right: 0;
	top: 20px;
}

#top p{
	font-size: 1.5rem;
	line-height: 1;
}

/*-------------------------------------------------------------
		if
-------------------------------------------------------------*/



#if{
	position: relative;

}

#if::after {
	content: '';
	display: block;
	position: absolute;
	left:0;
	bottom: -73px;
	border-top: 60px solid transparent;  
	border-left: 50vw solid transparent;  
	border-right: 50vw solid #E5D3B0;  
	border-bottom: 60px solid #E5D3B0;  
  }

#if .container{
	position: relative;
}

#if .if-img{
	height: calc(100% + 80px);
	width: auto;
	margin-left: auto;
	margin-right: 0px;
	position: absolute;
	top:0px;
	left: 0;
	z-index: -1;
}

#if .text-center p{
	display: inline-block;
	margin-left: 0;
	margin-right: auto;
}

.hukidashi1, .hukidashi2, .hukidashi3{
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	width: 200px;
	color:  #ad9362;
	font-size: 16px;
	background: #FFF;
	border: solid 3px  #ad9362;
	box-sizing: border-box;
	border-radius: 20px;
  }

  .hukidashi1 p, .hukidashi2 p, .hukidashi3 p {
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  .hukidashi1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
	z-index: 2;
  }
  
  .hukidashi1:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid  #ad9362;
	z-index: 1;
  }
  


  .hukidashi2:before {
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-left: 12px solid #FFF;
	z-index: 2;
  }
  
  .hukidashi2:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid  #ad9362;
	z-index: 1;
  }

  .img-if01, .img-if02, .img-if03{
	  position: absolute;
	width: 100%;;
	max-width: 200px;
	height: auto;
	z-index: -2;
  }

  .img-if01{
	top: 10%;
	right: 40%;
	transform: rotate(-15deg);
  }

.img-if02{
	top: 50%;
	right: 10%;
}

.img-if03{
	top: calc(78% - 100px);
	right: 50%;
}


/*-------------------------------------------------------------
		■answer
-------------------------------------------------------------*/

#answer{
	background-color:  #E5D3B0;
	padding-bottom: 120px;
	position: relative;
}



#answer::after {
	content: '';
	display: block;
	position: absolute;
	left:0;
	bottom: 0px;
	border-top: 60px solid transparent;  
	border-left: 50vw solid transparent;  
	border-right: 50vw solid #fff;  
	border-bottom: 60px solid #fff;  
  }



/*-------------------------------------------------------------
		■point
-------------------------------------------------------------*/

#point{
	position: relative;
	overflow: hidden;
}

#point .container{
	position: relative;
}

#point .text-center{
	color: #d42b25;
	font-weight: bold;
}

#point img{
	position: absolute;
	top: 0px;
	right: 0;
	z-index: -1;
	max-width: 100%;

}

#point .card{
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

/*-------------------------------------------------------------
		■go
-------------------------------------------------------------*/

#go{
	background: url(../img/bg_cha.jpg);
	position: relative;
	overflow: hidden;

}

#go .container{
	position: relative;
}

#go img{
	max-width: 100%;
}

#go div{
	z-index: 3;
}

.img-go01, .img-go02, .img-go03{
	position: absolute;
	width: 200px;
}

.img-go01{
	top: 10%;
	right: 10%;
	transform: rotate(15deg);
}

.img-go02{
	bottom: 10%;
	left: 0;
	transform: rotate(-35deg);
	z-index: 0;
}

.img-go03{
	bottom:10%;
	left: 50%;

}

.btn-outline-success{
	color: #f0928f;
	border-color: #f0928f;
	border-width: 3px;
	font-weight: bold;
	background-color: rgba(254, 251, 249, 0.8);
	height: 70px;
	border-radius: 35px;
	transition: 0.3s;
}

.btn-outline-success:hover{
	background-color: #f0928f;
	border-color: #f0928f;
}

#go p{
	color: rgb(94, 77, 52);
}

#go .moshimolink{
	z-index: 4;
	max-width: 100%;
	height: auto;
}

/*-------------------------------------------------------------
		#topgo
-------------------------------------------------------------*/
#top-go{
	position: fixed;
	bottom: -60px;
	right: 0;
	z-index: 999;
	width: 320px;
	display: none;
}

@media screen and (max-width: 768px){
	#point img{
		top:100px;
		max-width: 130%;
		left: 0;
	}

	#go{
		padding-bottom: 100px;
	}

}